<!DOCTYPE html>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <head>
    <meta charset="utf-8">
    <title>HeatMap</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        background-color: #7A9431;
        border-radius: 5px;
      }

          /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border-radius: 5px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #7A9431;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

    </style>

       <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

      // Create variables for the Google Map and Heat Maps
      var map; // Google Map
      var heatmapGrowth; // Heat Map for tree growth
      var heatmapDeath; // Heat Map for tree death
      var crosshair; // Variable to toggle the mouse cursor
      var secondInitial;    // Second point when selecting a region while dragging
      var secondFinal;      // Second point when selecting a region once mouse is released
      var boundingBox;      // The boundingBox we will draw while a user is selecting a region
      var bounds;           // Bounds of bounding box
      var sw;               // South east corner of bounding box
      var ne;               // North west corner of bounding box
      var rectN;            // North edge of bounding box
      var rectS;            // South edge of bounding box
      var rectE;            // East edge of bounding box
      var rectW;            // West edge of bounding box
      var rect;             // Bounding box
      var latitude; //lat
      var longitude; //long
      var radius;

      var g = new Array(
          'rgba(183, 255, 191, 0)',
          'rgba(149, 249, 133, 1)',
          'rgba(77, 237, 48, 1)',
          'rgba(38, 215, 1, 1)',
          'rgba(0, 195, 1, 1)',
          'rgba(0, 171, 8, 1)'
          );

      var r = new Array(
          'rgba(246, 189, 192, 0)',
          'rgba(240, 116, 112, 1)',
          'rgba(240, 116, 112, 1)',
          'rgba(234, 76, 70, 1)',
          'rgba(220, 28, 19, 1)'
        );

      var usBounds = {
        north: 49.3457868,
        south: 24.7433195,
        west: -124.7844079,
        east: -66.9513812,
      };
      var US = {lat: 35.51, lng: -96.42};


      function initMap() {

        // Initialize Google Map instance initialized over the United States
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: US,
          restriction: {
            latLngBounds: usBounds,
            strictBounds: false,
          },
          mapTypeId: 'satellite'
        });
        
        // Initialize crosshair to false, since the mouse does not begin as a crosshair
        crosshair = false;


        google.maps.event.addListener(map, "click", function (event) {
            latitude = event.latLng.lat();
            longitude = event.latLng.lng();

            preset = false;
            console.log( latitude + ', ' + longitude );
            var mark;

            if (radius == null) {
                radius = new google.maps.Circle({map: map,
                radius: 5000,
                center: event.latLng,
                fillColor: '#AA0000',
                fillOpacity: 1,
                strokeColor: '#AA0000',
                strokeOpacity: 1,
                strokeWeight: 2,
                draggable: true,    // Dragable
              });
            }
            else {
              radius.setMap(null);
              radius = new google.maps.Circle({map: map,
                radius: 5000,
                center: event.latLng,
                fillColor: '#AA0000',
                fillOpacity: 1,
                strokeColor: '#AA0000',
                strokeOpacity: 1,
                strokeWeight: 2,
                draggable: true,    // Dragable
              });
            }
        })
      }


      function toggleHeatmaps() {
        heatmapGrowth.setMap(heatmapGrowth.getMap() ? null : map);
        heatmapDeath.setMap(heatmapDeath.getMap() ? null : map);
      }

      function toggleGrowth() {
        heatmapGrowth.setMap(heatmapGrowth.getMap() ? null : map);
      }

      function toggleDeath() {
        heatmapDeath.setMap(heatmapDeath.getMap() ? null : map);
      }

      function getGrowthPoints(data) {
        growth = [];
        data.forEach(point => {
          if (point.color === "GREEN") {
            console.log(parseFloat(point.latitude), parseFloat(point.longitude))
            growth.push(new google.maps.LatLng(parseFloat(point.latitude), parseFloat(point.longitude)));
          }
        })
        return growth;
      }

      function getDeathPoints(data) {
        death = [];
        data.forEach(point => {
          if (point.color === "RED") {
            console.log(parseFloat(point.latitude), parseFloat(point.longitude))
            death.push(new google.maps.LatLng(parseFloat(point.latitude), parseFloat(point.longitude)));
          }
        })
        return death;
      }

      function buildHeatMap() {
        const data = {"latitude": latitude, "longitude": longitude};
        console.log("Building heat map", data);

        if (!preset) {
          loadData();
        }

        $.ajax({
          url: "/getRegion",
          data: data,
          error: function(error) {
            console.log("ERRORED WITH ", error);
          },
          success: function(output) {
                // We then filter the data

              console.log("POINTS ", output)
              const growthPoints = getGrowthPoints(output);
              const deathPoints = getDeathPoints(output);

              console.log(deathPoints)

              if (heatmapGrowth || heatmapDeath) {
                heatmapGrowth.setMap(null);
                heatmapDeath.setMap(null);
              }
              

              heatmapGrowth = new google.maps.visualization.HeatmapLayer({
                    data: growthPoints,
                    gradient: g,
                    map: map
              });

              heatmapDeath = new google.maps.visualization.HeatmapLayer({
                data: deathPoints,
                gradient: r,
                map: map
              });

              loadClose();
            }
        });
      }

      function kincadeButtonPress() {

          preset = true;

          map.setOptions({
            zoom: 8,
            center: {lat:38.792458, lng:-122.780053}
          });

          // Load Preset
          setClick(38.792458, -122.780053);
          buildHeatMap();

          // Popup Modal
          var modal = document.getElementById("kincade-modal");
          modal.style.display = "block";
    }

      function walkerButtonPress() {

          preset = true;
        
          map.setOptions({
            zoom: 8,
            center: {lat:40.053, lng:-120.669}
          });

          // Load Preset
          setClick(40.053, -120.669);
          buildHeatMap();

          // Popup Modal
          var modal = document.getElementById("walker-modal");
          modal.style.display = "block";
    }

      
      //close walker modal
      function walkerClose() {
        var modal = document.getElementById("walker-modal");
        modal.style.display = "none";
      }

      function walkerCloseDisplay() {
        var modal = document.getElementById("walkClose");
        modal.style.display = "visable";
      }

      //close kincade modal
      function kincadeClose() {
        var modal = document.getElementById("kincade-modal");
        modal.style.display = "none";
      }

      function loadData() {
        var modal = document.getElementById("loading-modal");
        modal.style.display = "block";
      }

      function loadClose() {
        var modal = document.getElementById("loading-modal");
        modal.style.display = "none";
        modal = document.getElementById("walkClose");
        modal.style.display = "block";
        modal = document.getElementById("kincClose");
        modal.style.display = "block";
      }

      function changeOpacity() {
        heatmapGrowth.set('opacity', heatmapGrowth.get('opacity') ? null : 0.2);
        heatmapDeath.set('opacity', heatmapDeath.get('opacity') ? null : 0.2);
      }

      // Function to set coordinates of click
      function setClick(lat, long) {
        latitude = lat;
        longitude = long;
      }

      // Function to disable Google Map's default behavior
      function disableDefault() {
        map.setOptions({
          zoomControl: false,
          gestureHandling: 'none'
        });
      }

      // Function to re-enable Google Map's default behavior
      function enableDefault() {
        map.setOptions({
        zoomControl: true,
        gestureHandling: 'greedy' // or 'cooperative'*
        });
      }

    </script>
      <!-- California Wildfire Modal -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhWogeZ5mswxqfmc_ZkG4Ty8DwSx9K2m4&libraries=visualization&callback=initMap"
        type="text/javascript">
    </script>
  </head>

  <body>
    <div id="floating-panel">
      <button onclick="toggleDeath()">Toggle Death</button>
      <button onclick="toggleGrowth()">Toggle Growth</button>
      <button onclick="buildHeatMap()">Build Heat Map</button>
      <button onclick="walkerButtonPress()">The Walker Wildfire</button>
      <button onclick="kincadeButtonPress()">The Kincade Wildfire</button>
      <button onclick="document.location = '/'">Return to Homepage</button>
    </div>
    <div id="walker-modal" class="modal" position= "front">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" onclick="walkerClose()">&times;</span>
        <h1>The Walker Fire</h1>
        <p>
        The Walker Fire heatmap is loading. Click <a href="/walker" target="_blank">here</a> if you want to read more about the fire while this loads. <br/> <br/>

        Wildfires in California have burned more frequently and across greater areas for the last few years. The Walker fire is one of the more severe incidents, and was first reported on September 4th, 2019. It was 100% contained by September 25th, 2019. In this time, it burned around 54,600 acres.
        </p>
        <button id="walkClose" onclick="walkerClose()" style="display:none">Close</button>
      </div>
    </div>

    <div id="kincade-modal" class="modal" position= "front">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close" onclick="kincadeClose()">&times;</span>
        <h1>The Kincade Fire</h1>
        <p>
        The Kincade Fire heatmap is loading. Click <a href="/kincade" target="_blank">here</a> if you want to read more about the fire while this loads.  <br/> <br/>

        Wildfires in California have burned more frequently and across greater areas for the last few years. The Kincade fire is one of the more severe incidents, and was first reported on October 23rd, 2019. It was 100% contained by November 6th, 2019. In this time, it burned around 77,758 acres.</p>
      </p>
      <button id="kincClose" onclick="kincadeClose()" style="display:none">Close</button>
      </div>
    </div>

    <div id="loading-modal" class="modal">
      <span class="close" onclick="loadClose()">&times;</span>
      <div class="modal-content">
          <h1>Loading...</h1>
          <h2>This could take some time, and we really appreciate your patience :)</h2>
      </div>
    </div>

    <div id="map"></div>
 
  </body>
</html>
