<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
	<style type="text/css">
		body{
			background-color: lime;
			text-align: center;
		}
		.form-title {
			font-size: large;
		}
		.add-form {
			align-self: center;
			margin: 0 auto;
			max-width: 320px;
			border: 3px solid black;
			border-radius: 10px;
		}
		.f-item {
			margin: 5px;
		}

		/* The Modal (background) */
	.modal {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content/Box */
	.modal-content {
	  background-color: #fefefe;
	  margin: 15% auto; /* 15% from the top and centered */
	  padding: 20px;
	  border: 1px solid #888;
	  width: 80%; /* Could be more or less, depending on screen size */
	}

	/* The Close Button */
	.close {
	  color: #aaa;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
	}

	.close:hover,
	.close:focus {
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
	}

	</style>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAhWogeZ5mswxqfmc_ZkG4Ty8DwSx9K2m4"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
     	// Function creates new Google Map, installs it in the 'map' DIV
		var map;
      	var loadMap = function() {
	        var myOptions = {
	          center: new google.maps.LatLng(37.55261717446411, -120.80429614812023),
	          zoom: 6,
	          mapTypeId: google.maps.MapTypeId.ROADMAP
	    	};
        	map = new google.maps.Map(document.getElementById("map"), myOptions);
        	//Map Listener for left click NOT ON marker; should place coords in form
        	map.addListener('click', function(mouse) {
        		var latLng = mouse.latLng;
        		var lat = latLng.lat;
        		var long = latLng.lng;
        		document.getRegion.longitude.value = long();
        		document.getRegion.latitude.value = lat();
        	});
        	//Start the refresh cycle
        	$(document).ready(function() {
				setTimeout(refreshMap, 5000); //5 seconds
			});
        	
      	};

      	//code for handling presets and "learn" modal]

      	var activePresetModalName = "wildfire-modal";

      	var wildfiresButtonPress = function() {

      		var wildfireOptions = {
		        center: new google.maps.LatLng(37.55261717446411, -120.80429614812023),
		        zoom: 6,
		        mapTypeId: google.maps.MapTypeId.ROADMAP
      		};

      		map.setOptions(wildfireOptions);
      		//change learn modal param
      		activePresetModalName = "wildfire-modal";
      	};

      	var florenceButtonPress = function() {

      		var florenceOptions = {
				center: new google.maps.LatLng(34.2085, -77.7964),
		        zoom: 10,
		        mapTypeId: google.maps.MapTypeId.ROADMAP

      		};

	        map.setOptions(florenceOptions)
	        //change learn modal param
	        activePresetModalName = "florence-modal";

      	}

      	//open the learn modal with last clicked preset. default calif wildfires
      	var learnOpen = function() {
      		var modal = document.getElementById(activePresetModalName);
      		modal.style.display = "block";

      	}

      	//close wildfire modal
      	var wildfireClose = function() {
			var modal = document.getElementById("wildfire-modal");
			modal.style.display = "none";

      	}

      	//close florence modal 
      	var florenceClose = function() {
      		var modal = document.getElementById("florence-modal");
      		modal.style.display = "none";

      	}

      	var init = function() {

			// We load the map
			loadMap();
			
			// We also register the handlers for the submit button
			$('#getRegion').submit(function(event){
				event.preventDefault();
				const lat = document.getElementById("latitude").value;
				const long = document.getElementById("longitude").value;

				const data = {"latitude": lat, "longitude": long};
				

				$.ajax({
					url: "/getRegion",
					data: data,
					success: function(data) {
						console.log(`Got data for ${lat}, ${long}`);
						console.log(data);

						// TODO: mason, add your code to add the heatmap overlay here.
      				}
				});


				console.log(lat, long)
			});
      	}
      	
      	
      	// Assign the 'onload' property of the main window to function loadMap()
	  	// Thus, loadMap() called as soon as browser loads
	    // window.onload = loadMap;
	    window.onload = init;
      	
      	//Function to check if new markers need to be added/deleted
      	var refreshMap = function() {
      		console.log("Refreshing map");
 			
 			//TODO: ADD HEATMAP OVERLAY ONTO MAP

      		setTimeout(refreshMap, 5000); //5 seconds
      		return;
      	}
	</script>
	
	<style>
		table, th, td {
		    border: 1px solid black;
		}
	</style>
	<style>
		 #map {
		   width: 75%;
		   margin: 0 auto;
		   height: 400px;
		   background-color: grey;
		 }
	</style>
</head>
<body>
	<h1>Sapling Map</h1>
	<div id="preset-table-div">
		<table id="preset-table" border="1" style="margin-left:auto; margin-right:auto;">
		    <thead>
		      <tr>
		          <th colspan="2">Explore</th>
		      </tr>
		    </thead>
		    <tbody>
		       <tr> 
		           <td>
		           		<button id="wildfires-button" onclick="wildfiresButtonPress()">California Wildfires</button>
		           </td>
		           <td>
		           		<button id="florence-button" onclick="florenceButtonPress()">Hurricane Florence - SCRATCH THAT, NO LONGER FLORENCE</button>
		           </td>
		      </tr>
			  <tr>
			  	   <td colspan="2">
			  	   		<button id="learn-button" onclick="learnOpen()">Learn More</button>
			  	   </td>
			  </tr>
		   </tbody>
		</table>
	</div>
	<div id="map" style="width:800px;height:500px;"></div>
  <p> 

	
  <div class="form-title">
  Current Latitude and Longitude:
  </div>
  <form class="add-form" name="getRegion" id="getRegion">
		<input class="f-item" type="text" name="latitude" id="latitude" placeholder = " Latitude">
	    <input class="f-item" type="text" name="longitude" id="longitude" placeholder=" Longitude" value>
		<div>
			<button>Get</button>
		</div>
  </form>
  <p>
  <font color="blue"> <p><a href="/logout"> Logout</a>

  <!-- California Wildfire Modal -->
<div id="wildfire-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="wildfireClose()">&times;</span>
    <h1>The Walker Fire</h1>
    <p>
	Wildfires in California have burned more frequently and across greater areas for the last few years. The Walker fire is one of the more severe incidents, and was first reported on September 4th, 2019. It was 100% contained by September 25th, 2019. In this time, it burned around 54,600 acres.</p>
	<p>
	The fire was first reported in Plumas National Forest in the early afternoon of September 4th. At this point, it was estimated to cover between 3 and 5 acres. Erratic winds and dry conditions helped it spread to 750 acres by that night. Even with an active response, strong erratic winds and dry conditions grew the fire to cover more than 47,000 acres by September 10th. The fire was 97% contained by September 14th and 100% contained on September 25th. Several structures were destroyed and multiple mandatory evacuation orders issued. Areas of the Plumas National Forest and particular roads remain closed due to the Walker Fire. 
	</p>
	<p>
	The federal government and California's state government support the firefighters, but note that "the danger is not over after the flames are put out". They have responded by investigating damaged structures prone to collapse, road damage, and power line dangers. Large organizations like The Red Cross have provided "relief supplies like overnight shelters and recovery support to those impacted" by the recent wildfires. 
	</p>
	<p>
	While fires occur naturally, the recent string of fires in California have spread more aggressively due to the dry conditions. These dry conditions are partially create by anthropogenic climate disruptions. 
	</p>
	<p>
	Future wildfire likelihood can be reduced by firstly handling flammable objects with care while outdoors. improperly handled cigarettes are a common cause of wildfires. Longer term outlook is improved by following sustainable logging practices and any effort to curb the effects of anthropogenic climate change.
	To learn more, visit <a href="https://www.c2es.org/content/wildfires-and-climate-change/">The Center for Climate and Energy Soltuions</a> 
	</p>
	<p>
	Charity Navigator ranks <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=7278&fromlistid=455">The Redwood Empire Food Bank</a>, <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=3408&fromlistid=455">California Community Foundation</a>, and <a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=8013&fromlistid=455">Habitat for Humanity of Greater Los Angeles</a> as some of the best charities for address California wildfires. Please consider donating.</p>
  </div>

</div>

  <!-- Hurricane Florence Modal -->
<div id="florence-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="florenceClose()">&times;</span>
    <p>Sample Hurricane Florence learn text - NO LONGER HURRICANE FLORENCE, TBD</p>
  </div>

</div>
</body>
</html>